

#About {
    background-color: #f7d85a;
    height: 580px;
    float: left;
    width: 50%;
  }
  #Instructions {
    height: 580px;
    float: right;
    width: 50%;
  }

  .menu-icon{
    margin: auto 0;
  cursor: pointer;
  position: relative;
  float: right;
  display: none;
  }

  img{
    margin-top: 0;
  }

  .head{
      background-color: #2f2d24;
      height: 350px;
      padding: 50px;
      text-align: center;
  }

  h1{
      color: #f7d85a;
      font-family: 'Ceviche One', cursive;
    font-family: 'Coiny', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Modak', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
  }

  nav{
    flex: 1;
    justify-content: space-between;
    padding: 50px;
    width: 88%;
    
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    margin: auto;
    padding: 30px;  
  }

  nav a{
    border: black;
    text-decoration: none;
    color: #f7d85a;
    font-size: 30px;
    right: -60px;
    position: relative;

  }

section{
    padding: 30px;
    margin-bottom: 50px;
    font-size: 18px;
}

.Gallery{
    margin-bottom: 50px;
   margin-top: 50px;
}

a {
  position: relative;
  color: #f7d85a;
  text-decoration: none;

}

a:hover {
  color: #f7d85a;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: #f7d85a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

p{
  font-family: 'Ceviche One', cursive;
font-family: 'Coiny', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Modak', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* anthonys stuff */

flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {

  line-height: 75px;
  font-size: 10px;

  }

   .endiv{
          font-size: 10px;
         position: relative;
        padding: 50px;
          bottom: 170px;
          width: 400px;
     }
    .end{
          background-color: #2f2d24;
          color:white;
          height: 300px;

      }
     .center {
      text-align: center;
      }

     .nav1{
          color: #f7d85a;
          font-size: 20px;
          width: 88%;
          text-align: right;
          list-style: none;
          display: inline-block;
          font-family: serif;
          margin-top: 100px;
          z-index: 9999999;
        }

          .nav1 a{
            border: black;
            text-decoration: none;
            color: #f7d85a;
          }
          #Us {
          background-color: #f7d85a;
          margin: 0px;
          }

          #myBtn {
                border-radius: 50%;
          }

@media only screen and (max-width: 700px){

  .nav1{
    width: 100%;
  }
 
  nav ul {
    width: 50%;
    background: #ffff;
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 2;
  }

  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: black;
    font-size: 20px;
    left: -30px;
    position: relative;
    float: left;
  }

  .nav1{
    width: 100%;
  }

  .menu-icon{
    display: block;
    
    }

    #menuList{
      overflow: hidden;
      transition: 0.5s;
    }

    #About{
      width: 100%;
      margin-bottom: 10px;
      height: auto;
    }

    #Instructions {
      width: 100%;
      margin-top: 0px;
    }

    @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    nav ul {
      width: 50%;
      background: #ffff;
      position: absolute;
      top: 90px;
      right: 0;
      z-index: 2;
    }
  
    nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color: black;
      font-size: 20px;
      left: -30px;
      position: relative;
      float: left;
    }
  
    .menu-icon{
      display: block;
      
      }
  
      #menuList{
        overflow: hidden;
        transition: 0.5s;
      }
  
      #About{
        width: 100%;
        margin-bottom: 10px;
        height: auto;
      }
  
      #Instructions {
        width: 100%;
        margin-top: 0px;
      }
    }
  }

  .flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {

  line-height: 75px;
  font-size: 10px;

  }

   .endiv{
          font-size: 10px;
         position: relative;
        padding: 25px;
        left: 13px;
     }
    .end{
          background-color: #2f2d24;
          color:white;
          height: 300px;
      }


     .nav1{
          color: #f7d85a;
          font-size: 20px;
          width: 88%;
          list-style: none;
          display: inline-block;
          font-family: serif;
          margin-top: 20px;
        }

          .nav1 a{
            border: black;
            text-decoration: none;
            color: #f7d85a;

          }
          #Us {
          background-color: #f7d85a;
          margin: 0px;
          }

          #myBtn {
                border-radius: 50%;

          }
